body{background-color:#ece9dd}

.page_text{display:none}

.event_title_area{padding-bottom:9.375vw;border-bottom:0.3125vw solid #000}
/* 검색창 */
.search_box{position:relative;width:100%;height:14.0625vw;border:1px solid rgba(0,0,0,0.2);box-sizing:border-box}
.search_box input{width:100%;height:100%;border:0;background:none;padding:0 13.75vw 0 4.6875vw;box-sizing:border-box;font-family:'NotoSansKR-Medium';font-size:3.75vw;letter-spacing:-0.025em;color:#222}
.search_box input:-ms-input-placeholder{color:#222}
.search_box input::-webkit-input-placeholder{color:#222}
.search_box input::-moz-placeholder{color:#222}
.search_box button{position:absolute;right:0;top:0;width:13.75vw;height:13.75vw;background:url('../../../img/board/search_ico.png') no-repeat center;background-size:cover;font-size:0;line-height:0}
/* 이벤트 리스트 */
.event_list{line-height:0}
.event_list li{width:100%;height:89.375vw;background:#fff;margin-bottom:6.25vw}
.event_list a{display:block;height:100%}
.event_list .img_area{overflow:hidden;height:61.875vw}
.event_list .img_area image{width:100%}
.event_list .text_area{padding:6.875vw 24.0625vw 0 3.90625vw}
.event_list .list_title{font-family:'NotoSansKR-Bold';font-size:4.6875vw;letter-spacing:-0.025em;color:#222}
.event_list .list_text{padding-top:3.125vw;font-size:3.75vw;letter-spacing:-0.025em;color:#222}
.event_list .d_day{position:absolute;top:6.5625vw;right:3.90625vw;font-family:'NotoSansKR-Bold';font-size:5.9375vw;color:#ba000c}
.event_list .img_cl, .event_list .d_day{display:none}
.event_list li.on .img_cl, .event_list li.on .d_day{display:block}
.event_list a:hover .list_title{text-decoration:underline}


/* 공지사항 상세페이지 */
.notice_view .page_title{padding:4.375vw 0 4.375vw;font-family:'NotoSansKR-Bold';font-size:4.6875vw;border-top:2px solid #000;border-bottom:1px solid rgba(0,0,0,0.2);text-align:center}
.notice_view .date{padding:4.6875vw 0 8.75vw;font-family:'NotoSansKR-Regular';font-size:3.75vw;letter-spacing:-0.025em;color:#444;text-align:center}
.notice_view .view_cont{padding:0 3.90625vw}
.notice_view .view_cont p{font-family:'NotoSansKR-Regular';font-size:3.75vw;line-height:192%;letter-spacing:-0.025em;color:#444}
.view_share{padding:10.625vw 0 9.375vw;border-bottom:1px solid rgba(0,0,0,0.2)}
.view_share li{margin-left:5.625vw}
.view_share li:first-child{margin-left:0}
.view_share li a{display:block;width:12.65625vw}